{% load static %}

<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

<div class="container">
  <img src="{% static 'images/Logo.png' %}" class="logo" alt="Logo" />

  <div class="form-container">
    <form action="" method="POST">
      <div class="title">Cadastro de Livro</div>
      {% csrf_token %}
      <div class="form-field">
        {{ bookForm.title.label_tag }}
        {{ bookForm.title }}
      </div>
      <div class="form-field">
        {{ bookForm.subtitle.label_tag }}
        {{ bookForm.subtitle }}
      </div>
      <div class="form-field">
        {{ bookForm.author.label_tag }}
        {{ bookForm.author }}
      </div>
      <div class="form-field">
        {{ bookForm.ISBN.label_tag }}
        {{ bookForm.ISBN }}
      </div>
      <div class="form-field">
        {{ bookForm.theme.label_tag }}
        {{ bookForm.theme }}
      </div>

      <div class="button-container">
        <button class="btn-submit" type="submit">Cadastrar</button>
        <a href="../menuAdm/" class="btn-back">Voltar</a>
      </div>
    </form>
  </div>
</div>
