{% load static %}

<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

<div class="container">
  <img src="{% static 'images/Logo.png' %}" class="logo" alt="Logo" />

  <div class="form-container">
    <form action="" method="POST">
      <div class="title">Cadastro de Aluno</div>
      {% csrf_token %}
      <div class="form-field">
        {{ studentForm.name.label_tag }}
        {{ studentForm.name }}
      </div>
      <div class="form-field">
        {{ studentForm.RA.label_tag }}
        {{ studentForm.RA }}
      </div>
      <div class="form-field">
        {{ studentForm.RG.label_tag }}
        {{ studentForm.RG }}
      </div>
      <div class="form-field">
        {{ studentForm.birthday.label_tag }}
        {{ studentForm.birthday }}
      </div>

      <div class="button-container">
        <button class="btn-submit" type="submit">Cadastrar</button>
        <a href="../menuAdm/" class="btn-back">Voltar</a>
      </div>
    </form>
  </div>
</div>
