{% load static %}

<link rel="stylesheet" href="{% static 'css/menuPrincipalAdm.css' %}">

<div class="container">

  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %} 
    <button class= "logoutBtn" type="submit">Logout</button>
  </form>

  <img class="logo" src="{% static 'images/Logo.png' %}" alt="Logo" />

  <div class="menu">
    <div class="menu-title">Menu Administrativo</div>
    
    <div class="menu-item">
      <a href="/buscarAluno">Buscar aluno</a>
    </div>
    
    <div class="menu-item">
      <a href="{% url 'buscarLivros' %}">Buscar livros</a>
    </div>
    
    <div class="menu-item">
      <a href="/cadastroLivro">Cadastrar Livro</a>
    </div>
    
    <div class="menu-item">
      <a href="/cadastroAluno">Cadastrar Aluno</a>
    </div>
    
    <div class="menu-item">
      <a href="/cadastroAdm">Cadastrar Adm</a>
    </div>
  </div>
</div>
