{% load static %}

<link rel="stylesheet" href="{% static 'css/buscarLivros.css' %}">

<div class="container">
  <img src="{% static 'images/Logo.png' %}" class="logo" alt="Logo" />

  <div class="form-container">
    <form method="POST">
      <div class="title">Buscar livros</div>
      {% csrf_token %}
      
      <div class="field-button-container">
        <div class="form-field">
          {{ searchBookForm.title }}
        </div>
        <button class="btn-submit" type="submit">Procurar</button>
      </div>
      {% if student %}
      <a href="../menuAluno/" class="btn-back">Voltar</a>
      {%else%}
      <a href="../menuAdm/" class="btn-back">Voltar</a>
      {%endif%}
      

    </form>
  </div>
</div>
